<%- include partials/moduletop %>
<div class="container-fluid extmodulescreen">
    <div class="modrow">
        <div class="modcolumn">
            <p class="toptext">What did you eat yesterday?</p>
            Note down any meals or snacks below:
            <form method="post" action="/nutrition">
                <textarea id="fooddiarytext" name="fooddiary"></textarea><br>
                <input id="submit" type="submit">
            </form>
            <p class="toptext">Food history</p>
            Check what you ate on this day:
            <script>
                $(function () {
                    $("#datepicker").datepicker({ dateFormat: 'yy/mm/dd' });
                });
            </script>
            <form method="post" action="/nutritiondate">
                <p><input type="text" id="datepicker" name="datepicker" placeholder="(year/month/day)"></p>
                <input id="submit" type="submit">
            </form>
            <div id="foodresult"><p class="highlight">On this day you ate:</p><%= fooditems %></div>
        </div>

        <div class="modcolumn">
            <p class="toptext">Food Log - last 10 meals</p>
            <div id="foodlist">
                <ul>
                    <% if (foods !== undefined) { for (var i = 0; i < 10; i++) { %>
                    <li>
                        <%= foods[i] %>
                    </li>
                    <% } } %>
                </ul>
            </div>
            <p class='toptext'>Diet recommendation</p>
            <p>Your last meal was: <span id="highlightdiet"><%= lastFood %></span></p>
            <div id="detailsdiv"></div>
            <script src="/external_modules/nutrition/nutrition.js"></script>
            <script>food()</script>
        </div>
    </div>
</div>

<%- include partials/modulebottom %>